.sidebar {
  width: 220px;
  background: #fff;
  border-right: 1px solid #e5e7eb;
  padding: 20px;
  box-shadow: 2px 0 4px rgba(0,0,0,0.05);
  height: calc(100vh - 52px);
}
.sidebar h3 {
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 15px;
  color: #111;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul li {
  margin-bottom: 12px;
}
.sidebar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  border-radius: 8px;
  background: #6365f191;
  padding: 5px 10px;
  display: block;
  margin-bottom: 10px;
}
.sidebar ul li a:hover {
  color: #4f46e5;
}
